@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
section{
  margin-top: 140px;
}
.navbar{
  justify-content: space-around;
  align-items: center;
}
.display-flex{
  display: flex;
}
.brand{
  font-weight: 700;
  font-size: 2.5rem;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500px;
}
.text-gray{
  color: rgba(66, 66, 66, 1);
}
.text-light-gray{
  color: rgba(114, 114, 114, 1);
}
.navbar, .banner{
  max-width: 1440px;
  margin: auto 0;
}
.btn-primary{
  background-color: rgba(255, 144, 14, 1);
  color: white;
  font-size: 1.25rem;
  padding: 20px 25px;
  font-weight: 600;
  border-radius: 8px;
  border: none;

}
/* banner related style */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;

}
.banner-title{
  font-size: 3.5rem;
  font-weight: 700;

}
.banner-description, .description{
  margin-bottom: 32px;
}
.banner-image{
  width: 100%;
  
  
}
.teams{
  align-items: center;
  display: flex;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.features-title{
  font-size: 2.5rem;
  font-weight: 700;
}
.our-features{
  margin-left: 75px;
  max-width: 573px;
}
.feature-color{
  color: rgba(255, 144, 14, 1);
}
#quick-list{
  font-weight: 500;
}
.Features-love{
  display: flex;
  gap: 140px;
}
.feature-titles{
  border-left: 5px solid rgba(255, 144, 14, 1);
  padding-left: 16px;
  font-weight: 700;
  font-size: 2.5rem;
}

.banner, img{
  width: 100%;
}
.feature-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin:0 auto;
  
}
.feature-card{
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.experience-badge{
  margin-top: -100px;
}
.featured-architect{
  padding-top: 35px;
}
#experience-badge{
  padding:40px 35px;
  margin-left: -100px;
  margin-top: -100px;
}
#experience-year{
  font-weight: 700;
  font-size: 3rem;
}
.fact-card{
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding:25px;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 120px;
}
.fact-card, img{
  margin-top: 15px;
}
.fact-number{
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 10px;
}
.fact-name{
  font-weight: 500px;
  margin-top: 0 auto;
}
.sponsor-info{
  text-align: center;
  margin: 50px auto;
  max-width: 540px;
 
}
.section-title{
  padding-left: 16px;
font-weight: 700;
font-size: 2.5rem;
margin-bottom: 20px;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  filter: grayscale(100%);
  gap: 50px;
  margin: 0 20px 0 20px;
  
  

}
/* footer design */
.footer-item{
  text-align: center;
  background-color: rgba(255, 244, 231, 1);
  margin-top: 80px;
  padding: 15px;
}


/* responsive media query */
@media screen and (max-width:576px){
  .navbar,.nav-link, .teams, .Features-love{
    flex-direction: column;
  }
  .team-img-container, 
  .work-experience, 
  .sponser-icon{
    grid-template-columns: repeat(1,1fr);
  }
  #experience-badge{
    margin-top: 20px;
    margin-left: 50px;

  }
  .our-features{
    margin-left: 20px;
  }
  .work-element, .sponser-head, .sponser-icon{
    margin: 0 auto;
    padding: 0 auto;
  }
}
/* medium size device */
@media screen and (min-width:576px) and (max-width: 992px) {
    .teams{
    flex-direction: column;
    
  }
  .our-features{
    margin: 0 25px;
  }
  .feature-img{
    margin-top: 300px;
  }
  
}